/* Header */

header {
	padding: auto;
	font-weight: bold;
	letter-spacing: 0.15em;
	margin-bottom:1em ;
	font-size:1.3em;
	display: block;
	background-color: #abe9cd;
	background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
	/*background-color: #b1ade2;
background-image: linear-gradient(315deg, #b1ade2 0%, #7ddff8 74%);
background-color: #e4eee9;
background-image: linear-gradient(315deg, #e4eee9 0%, #93a5ce 74%);
background-color: #fdf86d;
background-image: linear-gradient(315deg, #fdf86d 0%, #bddcf1 74%);
background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #5899e2 74%);
background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);*/
}

header > * {
	display: inline-block;
	vertical-align: middle;
}

header .symbol {
	margin-right: 0.8em;
}

header .symbol img {
	display: block;
	width: 8em;
	height: 8em;
}

#title {
	line-height:0.6em;
}



h1{
	text-align: center;
}

#op{
	font-weight: bold;
}

#select {
	text-align: center;
}

/* SECTIONS */
section {
	margin: 2em 0 2em 0;
	color: #3CA0C1;
	display: block;
}

#export {
	float: right;
}

#img1 {
	margin-right:10px;
}

#graphiques  {
	/*display: inline-block;
	text-align:justify;
	margin: auto;
	/*text-align:center;
	/*vertical-align:middle;
	/*width: 90%;
	/*margin: auto;
	/*width: 100%;
	padding: 30px;*/
	
	
	width: 100%;
	text-align: center;
}
	
#vizu1 {
	background-color: #CCDDEE;
	/*float: left;*/
	width: 470px;
	height: 470px;
	display: inline-block;
	margin-right: 35px;
}
	
#vizu2 {
	background-color: #BBDEEA;
	/*float: right;*/
	width: 470px;
	height: 470px;
	display: inline-block;
	margin-left: 35px;
}



#test{
	width: 100%;
	text-align: center;
	padding-top : 25px;
}

#title_graph {
	padding-bottom:0;
}

#graph3{
	display: inline-block;
}


